body {
    color: #1b1818;
  }


  .jumbotron {
    background-image: url("https://www.nicepng.com/png/full/288-2889388_banner-header-team2x-graphic-design-banner-header.png");
    background-size: cover;
    text-align: center;
  }



.text-type {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bk-color{
    background-color: rgb(245, 242, 239);
}

.bubble-chart{
    margin-top: 15px;
    margin-bottom: 15px;
}

.gauge-chart{
    margin-left: 30px;
    margin-bottom: 10px;
}
